@{
    ViewBag.Title = "Ticket Already Used";
}
<h2 class="text-danger">Check-In Unsuccessful</h2>
<h2 class="text-danger">Ticket Already Checked-In!</h2>
<p>
    View Your Recent Purchases @Html.ActionLink("Here", "Index", "Manage")
</p>
